*{
	margin : 0px;
	padding : 0px;
}

header, nav, main, section,article,footer {
	display : block;
}

body{
	overflow-x: hidden;
}

nav{
   width: 100%;
}

/**scroll**/
::-webkit-scrollbar {
      width: 15px;
} 

::-webkit-scrollbar-track {
      background-color: #4d4d4d;
} 
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} 
 
::-webkit-scrollbar-button {
      background-color: #808080;
} 
 
::-webkit-scrollbar-corner {
      background-color: black;
} 
/******/

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover , .navbar-default .navbar-nav>.active>a:focus{
	background:#92d36e;
	color: #FFFFFF;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background:#92d36e;
	color: #000000;
}

#wrapper{
	margin : 0px auto;
	text-align : center;
	width: 90%;
}

.main_button{
	font-family: 'Raleway', sans-serif;
	margin:0 auto;
	display: block;
	background : rgba(46,125,50,0.65);
	margin-top: 30px;
	height : 63px;
	width : 209px;
	border : #388e3c 0.25px solid;
	color:#FFFFFF;
	font-size : 30px;
	border-radius: 4px;
}

.main_button:hover{
	background: #b2b300;
}

#qRecipes, #pRecipes, #fRecipes{
	float: left;
}

.button{
	font-family : 'Raleway', sans-serif;
	margin : 0 auto;
 	text-align: center;
	background : #606060;
	height : 53px;
	width : 127px;
	border : #4c4c4c 2px solid;
	color : #FFFFFF;
	font-size : 18px;
	border-radius : 4px;
	box-shadow : 3px 3px 3px 3px rgba(00,00,00,0.35);
	text-decoration: none;
	font-weight : bold;
}

.button:hover{
	background : #7a7a7a;
	text-decoration: none;
	color : #FFFFFF;
}

.preference .float_right{
		width: 100px;
		margin-top: 30px;
		margin-right: 67px;
}

#form_wrapper{
	text-align : center;
	margin: 0 auto;
	width: 300px;
}

#logo{	
	display : block;
	background : url('../images/logo.png');
	margin : auto;
	margin-top: 30px;
	width : 280px;
	height : 239px;
	box-shadow: 3px 5px 3px 3px rgba(00,00,00,0.75);	
}

#title_logo{
	font-family: 'Cantora One', sans-serif;
	padding-left: 11px;
	color: #000000;
	font-size: 26px;
	text-decoration: none;
}

footer{
	position: fixed;
	width: 100%;
	height: 67px;
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	text-align: center;
	background: #444444;
	padding: 4px;
}

#navbar{
	background: #92d36e;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#wrapper header{  
	background: #FFFFFF;
}

header{
	margin: 0px;
}

header h1{
	background: #444444;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	line-height: 32px;
	padding-left: 11px;
	font-size: 18px;
	margin: 0px;
}

#main_nav{
	margin: 0px auto;
	margin-top: 110px;
	text-align:center;
	background: #FFFFFF;
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0px auto;
}

.clear{
	clear : both;
}

.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFFFFF;
}

/**My Fridge**/
#prods{
	margin: 0 auto;
	margin-top: 50px;
	display: table;
	max-width: 350px;
	margin-bottom: 80px;
}

#buttons_wrapper{
	margin: 0 auto;
	text-align: center;
	width: 400px;
}

#buttons_wrapper .button{
	margin-right: 5px;
}

#prods article{
	font-size: 24px;
	display: table-cell;
	margin:0 auto;
	vertical-align: middle;
	text-align: left;
	width: 100px;
	color: #232323;
}

#prods article:last-child{
	font-size: 12px;
	width: 100px;
}

#prods li{
	list-style-type: none;
	margin: 0px auto;
	display: table-row;
	min-width: 400px;
}

.fridge{
	margin: 0px;
}

.popProds{
	display: table;
	margin: 0 auto;
}

.popProds li{
	list-style-type: none;	
	font-size: 16px;
	text-align: left;
	display: table-row;
}

.popProds li section{
	display: table-cell;
	width: 100px;
}

.redText{
	color: #FF0000;
}

/***********/


/**Possible Recipes**/
#pRec_wrapper{
	margin : 0px auto;
	text-align : center;
	width: 90%;
}

#pRec_wrapper>p{
	font-size: 10px;
}

#pRec img{
	border-radius: 4px;
	vertical-align: middle;
	margin: 7px;
}

#pRec img{
	width: 140px; /*in case no image available*/
	height: 96px;
	border-radius: 4px;
	background:  url('../images/noimage.jpg');
	font-size: 0px;
}

img{
	
}
	
#pRec{
	display: table;
	margin: 0px auto;
	margin-top: 7px;
	margin-bottom: 70px;
}

#pRec a{
	text-decoration: none;
	color: #232323;	
	display: table-row;
	vertical-align: middle;
	text-align:left;
	padding-right: 10px;
	font-size: 18px;
	width: 400px;
}

#pRec a p{
		display: table-cell;
		vertical-align: center;
		width: 400px;
	}

#pRec li{
	display: table-row;
	list-style-type: none;
	font-size: 24px;
}

#pRec li:hover{
	background-color: rgba(0,51,0,0.8);
}

#pRec a:hover{
	color: #FFFFFF;
}

#searchText.form-control{
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	
}

#pRec_wrapper p{
	margin-top: 40px;
}

.input-group-btn #go{
	//float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

.btn.btn-success.btn-lg.dropdown-toggle{
	width: 150px;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
	background: #92d36e;
}
/********/

/**Recipe Details**/
#recipe_body #wrapper {
	text-align: left;
	margin-left: 15px;
	font-size: 18px;
	padding-bottom: 90px;
}

#recipe_body img {
	border-radius: 4px;
}

#recipe_body .recDetails{
	font-size: 18px;
	list-style-type: none;
}

#recipe_body ol{
	padding-left: 15px;
}

#recipe_body h2{
	font-size: 24px;
}

#recipe_body article{
	float: left;
	font-size: 10px;
}

#recipe_body article p{
	margin: 0px;
	margin-left: 5px;
}

#recipe_body .rpic{
	max-width: 60%;
	min-width: 40%;
	background:  url('../images/nopic.jpg') no-repeat;
	border: 0px;
	font-size: 0px;
}

#recipe_body h2{
	margin-top: 5px;
	color: #606060;
	font-weight: 900;
	font-size: 24px;
}

#recipe_body h3{
	margin: 0px;
	font-size: 18;
	font-weight: 900;
	color: #606060;
}

#heart{
	float: right;
}

footer a{
	display: block;
}

footer a:active{
	text-decoration: none;
	color : #FFFFFF;
}

footer a:visited{
	text-decoration: none;
	color : #FFFFFF;
}
/*******/

/**Missing Ingredients**/
#missIng{
	font-size: 18px;
	color: #444444;
	text-align: left;
	padding-top: 20px;
	margin-left: 28px;
	margin-bottom: 80px;
}
/*******/

/**Log In **/
#login_body form button{
	margin-top: 100px;
}

#login_body p{
	color: #FF0000;
}

#login_form{
	margin: 0 auto;
	text-align: center;
	margin-top: 110px;
	width: 300px;
}

#login_form label{
	float: left;
	text-align: center;
	margin-top: 25px;
	margin-right: 10px;
}

#login_form input{
	float: right;
	text-align: center;
	margin-top: 25px;
	margin-right: 10px;
}
/**********/

/**Sign Up**/
#labels{
	float: left;
	width: 40%;
	text-align: left;
}

#signup_wrapper{
	width: 350px;
	text-align: center;
	margin: 0 auto;
}

#labels label{
	display: block;
	margin: 0px;
}

#inputs{
	float: right;
}

#inputs input{
	height: 16px;
	float: left;
	margin-top: 3px;
}

.signup{
	margin-top: 100px;
	text-align: center;
}

#signup_body #inputs .preference{
	float: left;
	text-align: left;
}

#signup_body .preference input{
	float: left;
	text-align: left;
}

#signup_body #signup_wrapper p{
	color: rgb(225,0,0);
	font-size: 12px;
	text-align: left;
	margin-right: 20px;
}

#signup_body label span{
	color: rgb(225,0,0);
}
/**********/

/**Profile**/
#profile_wrapper{
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-top: 20px;
	background: #E8E8E8;
	padding: 10px;
	border-top-left-radius:2em;
	border-bottom-right-radius:2em;
}

#change_body .preference{
	float: right;
	text-align: left;
}

#form_wrapper.profile section:first-child{
	float: left;
}

#label_section{
	float: left;
	text-align: left;
	font-weight: 900;
}

#data_section{
	float: right;
	text-align: left;
}

#profile{
	margin: 0 auto;
	margin-top: 20px;
}

#form_wrapper.profile{
	margin-top: 20px;
	width: 300px;
}

#form_wrapper.profile label{
	float: left;
	
}

#form_wrapper.profile section{
	margin: 0 auto;
}
/*******/
	
@media screen and (max-width : 500px){
	#main_nav{
		margin-top: 50px;
	}
	
	#logo{
		margin-top: 20px;
	}

	.collapse .nav{
		background-color: #555555;
	}
	
	.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover , .navbar-default .navbar-nav>.active>a:focus{
		background:#444444;
		color: #aaaaaa;
	}
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
		background: #7a7a7a;
		color: #444444;
	}
	
	.navbar.navbar-default .collapse.navbar-collapse{
		background: #444444;
	}
	
	.collapse .border{
		border-bottom: 1px solid #aaaaaa;
	}
	
	.navbar-default .navbar-nav>li>a{
		color: #FFFFFF;
	}
	.navbar-collapse{
		background: #444444;
	}
	
	#wrapper main{
		display: none;
	}

	#signup_wrapper{
		width: 300px;
	}
	
	#signup_body #inputs label{
		font-size: 10px;
	}

	#pRec {
		display: table;
	}

	#pRec img{	
		display: table-cell;
	}

	#pRec li{
		font-size: 15px;
		display: table-row;
	}
	
	#pRec a p{
		display: table-cell;
		vertical-align: middle;
	}
	#buttons_wrapper{
		width: 320px;
	}
	#buttons_wrapper .button{
		font-size: 12px;
		width: 100px;
	}
	
	#login_form{
		font-size: 20px;
		width: 300px;
	}

	#login_form label{
		font-size: 20px;
	}

	#prods article{
		font-size: 18px;
	}
	
}
@media screen and (min-width:501px) and (max-width:767px){

	#login_form{
		font-size: 20px;
		width: 400px;
	}

	.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover , .navbar-default .navbar-nav>.active>a:focus{
		background:#444444;
		color: #aaaaaa;
	}
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
		background: #7a7a7a;
		color: #444444;
	}
	
	#login_form label{
		font-size: 20px;
	}	

	nav{
		height: 101px;
		line-height: 100px;
		z-index: 10;
	}
	
	#title_logo{
		font-size: 36px;
	}
	
	#navbar .navbar-header #title_logo{
		height: 101px;
		line-height: 50px;
		font-size:36px;
	}
	
	header{
		text-align: center;
		margin: 0px;
	}
	
	#wrapper main{
		margin-bottom: 70px;
	}
	
	#wrapper #prods{
		display: none;
	}
	/**navbar***/
	.collapse .nav{
		background-color: #555555;
	}
	
	.navbar.navbar-default .collapse.navbar-collapse{
		background: #444444;
	}
	
	.collapse .border{
		border-bottom: 1px solid #aaaaaa;
	}
	
	.navbar-default .navbar-nav>li>a{
		color: #FFFFFF;
	}
	
	.navbar-collapse{
		background: #444444;
	}
	/********/
	
	/**possible recipes**/
	#pRec_wrapper{
		width:90%;
	}
	#pRec li p{
		text-align: center;
		float: right;
		font-size: 14px;
		width: 150px;
		margin: 5px;
	}
		
	#pRec{
		width: 380px;
	}
	
	#pRec a{
		height: 200px;
	}
	
	#pRec li span{
		display: block;
	}
	
	#pRec li{  
		float: left;
		padding: 10px;
	}
	/*******/
	
	/**Recipe Details**/
	#recipe_body {
		text-align: left;
	}
	
	#recipe_body section{
		float: left;
		width: 47%;
		margin-right: 10px;
		font-size: 18px;
	}
	
	#recipe_body ol{
		margin-bottom: 80px;
	}
	
	#recipe_body .recDetails{
		margin-bottom: 80px;
	}
	#heart{
		float: right;
	}

	/***********/
	
}

@media screen and (min-width : 768px ){
	
	.fridge{
		display: inline;
	}
	
	nav{
		height: 101px;
		line-height: 100px;
	}
	
	header{
		text-align: center;
		margin: 0px;
	}
	
	#title_logo{
		font-size: 36px;
	}
	
	/**possible recipes**/
	#pRec{
		width: 740px;
	}
	
	#pRec li p{
		text-align: center;
		float: left;
		font-size: 12px;
		width: 150px;
		margin: 5px;
	}
	
	#pRec li span{
		display: block;
	}
	
	#pRec li{  
		float: left;
		margin: 10px;
	}
	
	#pRec a{
		height: 170px;
	}
	.content{
		width: 90%;
	}
	/*******/
	
}
